{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="login-wrapper">
        <h2>Connectez-vous</h2>

    {% if error %}
        <div class="flash-error">
            Identifiants incorrects. Veuillez vérifier votre email et votre mot de passe.
        </div>
    {% endif %}

        {% if app.user %}
            <div class="form-group">
                Bonjour {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <form method="post">
            <div class="form-group">
                <label for="username" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-input" autocomplete="email" required autofocus>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-input" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group checkbox container">
                <input type="checkbox" name="_remember_me" id="cbx2" style="display: none;">
                <label for="cbx2" class="check">
                    <svg width="18px" height="18px" viewBox="0 0 18 18">
                        <path d="M 1 9 L 1 9 c 0 -5 3 -8 8 -8 L 9 1 C 14 1 17 5 17 9 L 17 9 c 0 4 -4 8 -8 8 L 9 17 C 5 17 1 14 1 9 L 1 9 Z"></path>
                        <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                </label>
                <label for="cbx2" class="remember-text">Se souvenir de moi</label>
            </div>
            <div class="login-action">
                <button class="btn" type="submit">Se connecter</button>
                <a class = "mdp" href="{{ path('request') }}">Mot de passe oublié?</a>
            </div>
        </form>
    </section>
{% endblock %}