{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Tenebrae Thronum{% endblock %}

{% block body %}
    <header>
        <h1>Tenebrae Thronum</h1>
        <h2>Là où l’ombre épouse le velours</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </header>
    <section class="description__wrapper">
        <p><span class="title-span">Tenebrae Thronum</span> est une plateforme dédiée aux passionnés de chaises baroques et gothiques. Venez explorer une galerie riche en pièces rares, ajouter votre collection, et partager votre passion avec une communauté tout aussi fascinée par l'esthétique noble et sombre de ces assises d'exception. Un lieu unique pour exposer, admirer et célébrer l'art du siège avec intensité et élégance.</p>
    </section>

    <h3>Les dernieres chaises ajoutées</h3>
    <div class="chaises-container">
        {% for chaise in lastChaises %}
            <div class="chaise-card">
                <h3>{{ chaise.nom }}</h3>
                {% if chaise.imageName %}
                    <img src="{{ asset('uploads/images/' ~ chaise.imageName) }}" alt="Image de {{ chaise.nom }}" class="chaise-image">
                {% endif %}
                <p>{{ chaise.description|length > 0 ? chaise.description|slice(0, 150) ~ '...' : chaise.description }}</p>
                <p><strong>Type :</strong> {{ chaise.type.nom }}</p>
                <a class="btn" href="{{ path('chaise', { id: chaise.id }) }}">Voir plus</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
