{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <section class="galerie__wrapper">
        <h2>Galerie de nos chaises</h2>
        {# SUCCESS #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="chaises-container">
            {% for chaise in chaises %}
                <div class="chaise-card">
                    <h3>{{ chaise.nom }}</h3>
                    {% if chaise.imageName %}
                        <img src="{{ asset('uploads/images/' ~ chaise.imageName) }}" alt="Image de {{ chaise.nom }}" class="chaise-image">
                    {% endif %}
                    {% set desc = chaise.description %}
                        <p class="description">
                            {{ desc|length > 20 ? desc|slice(0, 250) ~ '...' : desc }}
                        </p>
                        <p class="type"><strong>Type :</strong> {{ chaise.type.nom }}</p>
                        <a class="btn" href="{{ path('chaise', { id: chaise.id }) }}">Voir plus</a>
                    {% if app.user and (app.user == chaise.user or is_granted('ROLE_ADMIN')) %}

                        <div class="card-actions">
                            <a class="btn" href="{{ path('modif_chaise', { id: chaise.id }) }}">Modifier</a>
                            <form class="form-delete" method="POST" onsubmit="return confirm('Confirmer la suppression ?')" action="{{ path('delete_chaise', { id: chaise.id }) }}">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ chaise.id) }}">
                                <button class="btn" type="submit">Supprimer</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}