{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<section class="login-wrapper">
    <h2>Réinitialisez votre mot de passe</h2>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(resetForm, {'attr': {'class': 'form'}}) }}
        <div class="form-group">
            {{ form_row(resetForm.plainPassword.first, {
                'label_attr': {'class': 'form-label'},
                'attr': {'class': 'form-input'}
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(resetForm.plainPassword.second, {
                'label_attr': {'class': 'form-label'},
                'attr': {'class': 'form-input'}
            }) }}
        </div>
        <div class="form-group">
            <button class="btn" type="submit">Mettre à jour le mot de passe</button>
        </div>
    {{ form_end(resetForm) }}
</section>
{% endblock %}